.git/
.github/
.gitignore
.gitlab-ci.yml
.dockerignore
.env*
*.pem
*.key
*.log
.DS_Store

node_modules/
frontend/
backend/
.docker-data/
tmp/
temp/

Terraform/
core/
master/
worker1/
worker2/
worker3/
문서자료/

package.json
pnpm-lock.yaml
pnpm-workspace.yaml
README.md
HELM.md
LICENSE

*.tgz
